@import "../variables.scss";

.all-container {
  display: block;
  width: 100%;
  height: auto;

  .selector-container {
    @extend .flex-center;
    width: 100%;
    flex-direction: column;


    .selector-tabs {
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      height: calc(36px + 7.5vw);
      max-height: 100px;
      background-color: $primary-grey;
      border-left: 1px solid black;
      border-right: 1px solid black;

      .selector {
        @extend .flex-center;
        width: calc(60px + 10vw);
        height: 80%;
        font-size: calc(16px + 1.5vw);
        border-radius: 10px 10px 0 0;

        .break {
          color: $primary-grey;
        }// .break
        @media screen and (min-width: 1200px) {
          font-size: 36px;
        } //.selector @media
      } //.selector

      .active {
        border-bottom: solid 5px $primary-blue;
      } //.active
    }
  } //.selector-container

  .image-container {
    @extend .flex-center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  } //.image-container
} //.all-container
