@import "../_variables.scss";

.home-container {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  background-color: $background;
  color: $primary-blue;

  .icon-wrap {
    display: flex;
    width: 100%;
    justify-content: center;

    .icon-container {
      position: relative;
      display: flex;
      width: 95%;
      justify-content: center;
      margin-top: 15px;
      align-items: flex-start;
      justify-items: center;
      flex-wrap: wrap;

      div {
        @extend .flex-center;
        width: 110px;
        flex-direction: column;
        margin: 15px 0.5%;
        font-weight: bold;
        font-size: 18px;

        i {
          font-size: 64px;
          font-weight: normal;
        } //i
      } //div

      @media screen and (max-width: 1250px) {
        max-width: 800px;
        div {
          margin: 15px 1.8% 10px 1.8%;
        }
      }
      @media (max-width: 760px) {
        div {
          margin: 15px 1% 10px 1%;
          height: auto;
        }
      }
    } //.icon-container
  } //.icon-wrap

  .home-content {
    @extend .flex-center;
    flex-direction: column;
    .home-text {



      flex-direction: column;
      align-items: center;
      position: relative;
      justify-content: center;
      text-align: left;
      width: auto;
      min-height: calc(100% - 505px);
      font-size: calc(12px + 1.5vh);

      p {
        display: flex;
        margin: 35px 50px;
      }

      .last-p {
        margin-bottom: 10px;
      }
    }
    .home-images {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: row;
      margin: 20px 0;
    }
  }

  @media (max-width: 1024px) {
    .home-content {
      font-size: 3vh;
    }
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    .home-content {
      font-size: 4vh;
    }
  }

  @media #{$phone-media} {
    .home-content {
      
      .home-images {
        flex-direction: column;
      }
      .home-text {
        p {
          margin: 20px;
        }
      }
    }
    .icon-wrap {
      .icon-container {
        height: auto;
        max-width: 500px;

        div {
          font-size: 14px;
          width: 60px;
          margin: 10px calc(2px + 2%);

          i {
            font-size: 48px;
          }
        }

        @media (max-width: 440px) {
          max-width: 300px;

          div {
            margin: 10px calc(5px + 2%);
          }
        }
      }
    }
  }
} //.home-container
