.home-container {
  width: 100%;
  height: auto;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #f5f9f6;
  color: #164e98;
  // cursor: default;

  .head-content {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 350px;
    width: 100%;
    background-color: #164e98;
    color: white;

    .profile-image {
      position: relative;
      left: 25px;
      display: flex;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      border: solid 8px rgba(168, 167, 167, 0.714);
      background-image: url("../images/dog_profile.jpg");
      background-size: cover;
    }

    .head-info {
      height: 100%;
      position: relative;
      left: 25px;
      width: calc(100% - 342px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 100px;
        font-weight: bold;
        margin: 0;
      }

      h3 {
        font-size: 36px;
        margin: 10px;
      }
    }
  }
  .icon-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
  .icon-container {
    position: relative;
    display: flex;
    width: 95%;
    justify-content: center;
    margin-top: 15px;
    align-items: flex-start;
    justify-items: center;
    flex-wrap: wrap;
    // @media screen and (max-width: 1170px ) {
    //   max-width: 800px;
    //   div {
    //     margin: 10%;
    //   }
    // }

    div {
      width: 110px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    margin: 15px .5%;
    // margin: 15px;
      font-weight: bold;
      font-size: 18px;

      i {
        font-size: 64px;
        font-weight: normal;
      }
    }

    @media screen and (max-width: 1250px ) {
      max-width: 800px;
      div {
        margin: 15px 1.8% 10px 1.8%;
      }

    
    }
    @media (max-width: 760px) {
      // max-width: 500px;
      div {
        margin: 15px 1% 10px 1%;
        height: auto;
      }
    
    } 
    
  }
}
  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .home-text {
      flex-direction: column;
      align-items: center;
      position: relative;
      justify-content: center;
      text-align: left;
      width: auto;
      min-height: calc(100% - 505px);
      font-size: calc(12px + 1.5vh);

      p {
        display: flex;
        margin: 35px 50px;
      }

      .last-p {
        margin-bottom: 10px;
      }
    }
    .home-images {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: row;
      margin: 20px 0;
    }
  }

  @media (max-width: 1024px) {
    .head-content {
      height: 300px;
      .profile-image {
        width: 200px;
        height: 200px;
      }

      .head-info {
        width: calc(95% - 200px);
        height: 250px;
        h1 {
          font-size: 7vw;
        }

        h3 {
          font-size: 3.5vw;
        }
      }
    }

    // .icon-container {
      
    //   div {
    //     margin: 15px 1.5% 10px .5%;
    //     height: auto;
    //   }
    // }

    .home-content {
      font-size: 3vh;
    }
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    .home-content {
      font-size: 4vh;
    }
  }

  @media (max-width: 680px) {
    .head-content {
      flex-direction: column;
      height: 400px;

      .profile-image {
        left: 0;
        top: 25px;
        width: 200px;
        height: 200px;
      }

      .head-info {
        left: 0;
        width: 95%;
        height: 200px;
        h1 {
          font-size: 36px;
        }

        h3 {
          font-size: 24px;
        }
      }
    }

    .home-content {
      .home-images {
        flex-direction: column;
      }
    }
    .icon-wrap{
    .icon-container {
      height: auto;
      max-width: 500px;

      div {
        font-size: 14px;
        width: 60px;
        margin: 10px calc(2px + 2%) ;

        i {
          font-size: 48px;
        }
      }

      @media (max-width: 440px) {
        max-width: 300px;

        div {
          margin: 10px calc(5px + 2%);
        }
      }
    }
  }
  }
}
