@import "../_variables.scss";

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  z-index: 1000;

  .image-cover {
    z-index: 900;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.367);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } //.image-cover

  .image-window {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: black;

    .image-top-bar {
      display: flex;
      position: relative;
      align-items: center;
      top: 2px;
      left: 2px;
      height: 26px;
      width: calc(100% - 4px);
      background-color: $window-blue;

      .image-name {
        position: absolute;
        left: 10px;
        color: white;
      } //.image-name

      .close-button {
        position: absolute;
        text-align: center;
        font-size: 16px;
        height: 26px;
        width: 26px;
        top: 0;
        right: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      } //.close-button

      .close-button:hover {
        color: white;
        background-color: red;
      }
    } //.image-top-bar

    .nav-container {
      background: inherit;
      i {
        cursor: pointer;
        position: absolute;
        height: 50px;
        bottom: 10%;
        font-size: 72px;
        color: rgba(204, 204, 204, 0.476);
        background-color: rgba(255, 255, 255, 0);
        -webkit-text-fill-color: rgba(204, 204, 204, 0.476);
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        z-index: 750;
      } //i

      .fa-caret-left {
        left: 15px;
      }

      .fa-caret-right {
        right: 15px;
      }

      i:hover {
        color: rgb(112, 105, 105);
        -webkit-text-fill-color: rgb(112, 105, 105);
      }
    } //.nav-container
  } //.image-window

  .image-content {
    @extend .flex-center;
    overflow: auto;
    height: calc(100% - 40px);
    position: relative;
    top: 7px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: width 250ms, left 250ms;
  } //.image-content

  .image-window::before {
    position: absolute;
    display: block;
    content: "";
    border: 2px solid rgb(173, 173, 173);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  } //.image-window::before

  @media #{$phone-media}, #{$phone-rotate-media} {
    .image-window {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .image-top-bar {
        background-color: rgba(0, 0, 0, 0.301);
        position: absolute;
        z-index: 501;
        text-align: center;

        .image-name {
          position: relative;
          text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
        } //@media image-name
      } //@media image-top-bar

      .image-content {
        position: absolute;
        height: calc(100% - 12px);
        margin: 0;
        top: 5px;
      } //@media image-content
    } //@media image-window
  } //@media
} //.image-container
