@import "../_variables.scss";
.project-image {
  background-size: contain;
  border-radius: 10px;
  margin: calc(4px + 1vw);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;

  .hover-cover {
    @extend .flex-center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(88, 85, 85, 0.76);
    opacity: 0;
    transition: all 400ms;
    color: white;
    border-radius: 10px;
    border: $primary-blue solid 5px;
    font-size: calc(16px + 1.25vw);
    padding: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

.project-image::before {
  display: block;
  border: black solid 3px;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.web {
  height: 255px;
  width: 450px;
  display: flex;
}

.mobile {
  height: 450px;
  width: 240px;
  display: flex;
}

.project-image:hover {
  .hover-cover {
    opacity: 1;
  }
}

@media #{$phone-media}, #{$phone-rotate-media} {
  .project-image {
    .hover-cover {
      opacity: 1;
      background-color: rgba(68, 68, 68, 0.521);
      border: 0;
      font-size: calc(14px + 1.25vw);
    }
  }

  .web {
    width: 250px;
    height: 145px;
  }

  .mobile {
    height: 255px;
    width: 130px;
  }
}
