@import "../_variables.scss";
$head-height: 250px;
$head-mobile: 150px;

.project-container {
  overflow-x: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $background;

  .project-head {
    @extend .flex-center;
    position: absolute;
    height: $head-height;
    width: 100%;
    background-color: $primary-blue;
    background-size: cover;
    background-position: 50% 30%;
    color: $background;
    padding: 10px;

    div {
    font-size: 64px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
      animation: slide-in 1s;
    }
  }

  .project-body {
    
    top: $head-height;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    animation: showup 3s;
    

    .image-box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 450px;

      .images {
        margin: 10px;
        width: 400px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        border: 2px solid black;
        cursor: pointer;
      }

      .images:hover {
        opacity: .5;
      }
    }

    .summary-box {
      @extend .flex-center;
      position: relative;
      width: calc(100% - 500px);
      padding-top: 15px;
      flex-direction: column;
      font-size: calc(12px + 1.25vmin);
      color: $primary-blue;

      div {
        margin-bottom: 15px;
      }

      .project-about {
        width: 95%;
        p {
          margin-top: 20px;
          text-align: left;
        }
      }

      .project-subject {
        margin-top: 25px;
        font-weight: bold;
      }

      .links-box {
        height: 50px;
        width: 100%;
        margin: 5px;

        a, div {
          margin: 10px;  
        }

        i {
          color: $primary-blue;
          font-size: 48px;
          margin: 5px;
          cursor: pointer;
        }

        .links:hover {
          color: $window-blue;
          transition: all 50ms;
        }
      }
    }

    @media (max-width: 1050px) {
      .image-box {
        width: 50%;

        .images {
          width: 90%;
        }
      }

      .summary-box {
        width: 45%;
      }
    }
  }

  @media #{$phone-media} {
    height: auto;

    .project-head {
      height: $head-mobile;
      
      .project-name{
      font-size: 36px;
      }
    }

    .project-body {
      top: $head-mobile;
      flex-direction: column-reverse;
      height: auto;
      align-items: center;

      .image-box {
        display: flex;
        margin-top: 10px;
        height: auto;
        width: 95%;

        .images {
          display: flex;
          margin: 10px 0;
          width: 100%;
          max-width: 450px;
          height: 200px;
        }
      }

      .summary-box {
        top: 0;
        margin-top: 10px;
        width: 90%;
        height: auto;
        font-size: calc(12px + 1.5vmin);

        .project-about {
          display: flex;
          height: auto;
          flex-direction: column;
        }

        .project-subject {
          margin-top: 15px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@keyframes showup {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes slide-in {
  0% {
    margin-top: -1000px;
  }
  100% {
    margin-top: 010  }
}
