.project-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f5f9f6;

    .project-head {
        position: relative;
        display: flex;
        height: 300px;
        width: 100%;
        background-color: #164e98;
        justify-content: center;
        align-items: center;
        color: #f5f9f6;
        font-size: 64px;
        font-weight: bold;
    }

    .project-body {
        position: relative;
        display: flex;
        flex-direction: row;
        height: calc(100% - 300px);
        width: 100%;

        .image-box {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 100%;
            width: 450px;

            .road-trip, .card-fun, .blackjack {
                width: 400px;
                height: 300px;
                background-size: cover;
                background-position: center;
                border-radius: 10px;
            }

            .road-trip {
                background-image: url("../images/road_trip.jpg")
            }

            .card-fun {
                background-image: url("../images/card_fun.jpg")
            }

            .blackjack {
                background-image: url("../images/blackjack.jpg")
            }

        }

        .summary-box {
            height: 100%;
            width: calc(100% - 500px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            color: #164e98;
            
            div {
                margin-bottom: 15px;
            }

            .project-about {
                height: 250px;
                width: 95%;
            }


        }
    }
}