@import "../_variables.scss";
.project-image {
  background-size: contain;
  border-radius: 3px;
  margin: calc(4px + 1vw);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;

  .image-cover {
    @extend .flex-center;
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(88, 85, 85, 0.76);
    color: white;
    border-radius: 3px;
    border: $primary-grey solid 1px;
    font-size: calc(16px + 1.25vh);
    padding: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    transition: all 250ms;
  }
  .image-cover:hover {
    background-color: rgba(223, 217, 217, 0.5);
    color: black;
    font-weight: bold;
    text-shadow: none;
  }
}

.web {
  height: 255px;
  width: 450px;
  display: flex;
}

.mobile {
  height: 450px;
  width: 240px;
  display: flex;
}


@media #{$phone-media}, #{$phone-rotate-media} {
  .project-image {
    .image-cover {
      font-size: calc(14px + 1.25vw);
    }
  }

  .web {
    width: 250px;
    height: 145px;
  }

  .mobile {
    height: 255px;
    width: 130px;
  }
}
