$primary-blue: #164e98;
$secondary-blue: #5393e7;
$window-blue: blue;
$primary-grey: rgb(173, 173, 173);
$background: rgb(255, 255, 255);

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


$phone-media: "(max-width: 680px)";
$phone-rotate-media: "(max-width: 815px) and (orientation: landscape)";